.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.dark-bg-cont {
  background-color: #000000;
}

.light-bg-cont {
  background-color: #ffffff;
}

.not-found-img {
  width: 250px;
}

.not-found-container > h1 {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 400;
}

.dark-h1 {
  color: #ffffff;
}

.light-h1 {
  color: #1e293b;
}

.not-found-container > p {
  text-align: center;
  font-size: 12px;
}

.dark-p {
  color: #ffffff;
}

.light-p {
  color: #64748b;
}
