.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.dark-bg-cont {
  background-color: #000000;
}

.light-bg-cont {
  background-color: #ffffff;
}

.about-img {
  width: 150px;
}

.about-container > h1 {
  margin-top: 15px;
}

.dark-h1 {
  color: #ffffff;
}

.light-h1 {
  color: #171f46;
}
